@import "tailwindcss";

:root {
  --background: #fff8f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.radial-gradient-text {
  /* Text gradient */
  background: radial-gradient(
    circle at center,
    #ff6f00 5%,
    #7b380a 40%,
    #7b380a 100%
  );
  -webkit-background-clip: text; /* Clip background to text for WebKit */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  background-clip: text; /* Standard property for other browsers */
  color: transparent; /* Fallback */
}

.gradient-border {
  display: inline-block;
  padding: 2px; /* Border thickness */
  background: radial-gradient(circle, #ff6f00 2%, #7b380a 100%);
}

.gradient-border .content {
  border-radius: inherit;
  background-color: white; /* Inner solid background */
}
